.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_container {
    width: 20%;
    height: 95%;
    background-color: #128c7e;
    color: white;
}

.right_container {
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message_comp {
    width: 100%;
    height: 90%;
    overflow: scroll;
    display: flex;
    background-color: #dcf8c6;
    flex-direction: column;
}

.sender_comp {
    width: 100%;
    height: 15%;
}